/*-------------- Styling for Hero ------------*/

#hero {
   overflow: hidden;
   margin: 0 auto;
   height: 100vh;
   .banner-wrapper {
      display: flex;
      width: 100%;
   }
}
@keyframes slidy {
   0% {
      left: 0;
   }
   20% {
      left: 0;
   }
   33% {
      left: -100%;
   }
   55% {
      left: -100%;
   }
   68% {
      left: -200%;
   }
   88% {
      left: -200%;
   }
   100% {
      left: 0;
   }
}

@media screen and (max-width: 1024px) {
   #hero {
      height: 600px;
   }
}

@media screen and (max-width: 768px) {
   #hero {
      height: 550px;
   }
}
@media screen and (max-width: 540px) {
   #hero {
      height: 450px;
   }
}

/*-------------- Styling for Each Sections ------------*/

section {
   padding: 50px;
}

@media screen and (max-width: 768px) {
   section {
      padding: 5px;
   }
}
@media screen and (max-width: 540px) {
   section {
      padding: 5px;
   }
}

/*-------------- Styling for Featured Items ------------*/
#featured {
   padding-top: 100px;
   .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      align-items: center;
      h3 {
         display: inline-block;
      }
      .button-link {
         text-transform: uppercase;
      }
   }
}

@media screen and (max-width: 540px) {
   #featured {
      padding-top: 50px;
   }
}

/*-------------- Styling for About Us ------------*/

#about-us {
   display: grid;
   grid-template-areas: 'desc img';
   grid-auto-rows: minmax(500px auto);
   padding: 50px 0;
   .desc {
      grid-area: desc;
      h2 {
         margin-bottom: 1em;
      }
      p {
         width: 90%;
         margin-bottom: 0.8em;
      }
   }

   img {
      grid-area: img;
      width: 100%;
      object-fit: cover;
      object-position: left;
   }
}

@media screen and (max-width: 768px) {
   #about-us {
      grid-template-areas: 'img' 'desc';

      .desc {
         grid-area: desc;
         justify-self: center;
         h2 {
            text-align: center;
            margin-top: 1em;
            margin-bottom: 0.6em;
         }
         p {
            text-align: center;
            width: 100%;
         }
      }

      img {
         justify-self: center;
         width: 50%;
         text-align: center;
      }
   }
}

@media screen and (max-width: 540px) {
   #about-us {
      .desc {
         justify-self: center;
      }
      img {
         width: 80%;
      }
   }
}

/*-------------- Styling for Services ------------*/

#point-of-sale {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 30px;
   text-align: center;
   li {
      margin-bottom: 1em;
   }
   .logo {
      height: 100px;
      width: 100px;
   }
}

@media screen and (max-width: 540px) {
   #point-of-sale {
      grid-template-columns: 1fr;
      row-gap: 50px;
   }
}

/*-------------- Styling for Article ------------*/

#article {
   display: grid;
   grid-template-columns: 2fr 3fr;
   column-gap: 100px;
   img {
      width: 100%;
      object-fit: cover;
   }
   li {
      margin-bottom: 1em;
   }
}

@media screen and (max-width: 768px) {
   #article {
      margin: 50px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
   }
}
@media screen and (max-width: 540px) {
   #article {
      padding-top: 30px;
      grid-template-columns: 1fr;
      row-gap: 30px;
   }
}

/*-------------- Styling for Contact Us ------------*/

#contact-us {
   background-image: url(/img/contact.jpg);
   background-position: 100% 50%;
   background-size: cover;
   .contact-us-content {
      width: 40%;
      text-align: center;
      h2,
      p {
         margin-bottom: 1rem;
      }
   }
}

@media screen and (max-width: 540px) {
   #contact-us {
      width: 100vw;
      background-position: 50% 50%;
      .contact-us-content {
         width: 90%;
         padding-bottom: 20px;
      }
   }
}
