/*-------------- Styling for Product Preview Page------------*/

.product-preview {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 30px;
   margin-top: 100px;
   .images {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 30px;
      .image-index {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         column-gap: 30px;

         @media screen and (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
            row-gap: 20px;
         }
      }
   }
   .preview-content {
      display: flex;
      flex-direction: column;

      hr {
         border: solid 0.5px rgba(0, 0, 0, 0.2);
         width: 100%;
      }
      .price {
         font-size: 1.1rem;
      }
      .subtitle {
         font-weight: bold;
         text-transform: uppercase;
         margin: 1em 0;
      }

      .qty-wrapper {
         display: flex;
         align-items: center;
         span {
            margin-right: 20px;
            font-weight: bold;
            &:nth-child(3) {
               margin-right: 50px;
            }
         }
      }
      .description-wrapper {
         margin-top: 1rem;
         .option-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            padding-right: 20px;
            border-bottom: solid 1.5px lighten($font-color, 80);
            .option {
               text-transform: uppercase;
               font-weight: bold;
               color: lighten($font-color, 80);
               justify-self: flex-end;
               padding: 5px 0;
               cursor: pointer;
               &:hover {
                  border-bottom: solid 1.5px $primary-color;
                  color: $font-color;
               }
            }
            .selected {
               border-bottom: solid 1.5px $primary-color;
               color: $font-color;
            }
         }
      }
   }
}

.featured {
   margin: 30px auto;
   .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      h3 {
         display: inline-block;
      }
      .button-link {
         text-transform: uppercase;
      }
   }
}
@media screen and (max-width: 540px) {
   .product-preview {
      grid-template-columns: 1fr;
      row-gap: 30px;
      .images {
         .image-index {
            grid-template-columns: 1fr 1fr 1fr 1fr;
         }
      }
   }
}
