._blog {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/img/blog1.jpg');
    background-size: 100vw;
    background-position: 25% 55%;
    h1 {
        font-size: $font-size-main-title;
        padding: 0 0 60px;
        margin: 0;
    }
}

.blog-article-index {
    padding: 100px 0 50px;
    .article-card-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 50px;
        .image,
        h1,
        p {
            margin-bottom: 1rem;
        }
        h1 {
            font-size: $font-size-article;
            height: 1;
        }
    }
}