.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
    text-align: center;
    .card {
        display: block;
        transition: 0.5s;
        &:hover {
            box-shadow: 0 0 10px 5px rgba(185, 185, 185, 0.5);
        }
    }
    .image {
        margin-bottom: 0.8em;
        width: 100%;
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
        .view-details {
            position: absolute;
            display: flex;
            top: 0;
            background-color: rgba(0, 0, 0, 0.5);
            height: 100%;
            width: 100%;
            align-items: center;
            opacity: 0;
            transition: opacity 0.5s;
        }
        .btn-view-details {
            width: 150px;
            height: auto;
            margin: auto;
            padding: 10px;
            border: solid 2px #fff;
            background-color: transparent;
        }
    }
    .title,
    .price {
        display: block;
        margin-bottom: 0.8em;
    }
    .price {
        font-weight: bold;
    }
}


/*-------------- Styling for wrapper------------*/

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.btn {
    background-color: $color-primary;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    height: 50px;
    width: 200px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}


/*-------------- Styling for banner------------*/

.hero-wrapper {
    background-image: url('/img/banner1.jpg');
    background-size: 100vw;
    background-position: 100% 70%;
    height: 100vh;
    .hero-content {
        padding-top: 20vh;
        .hero-title {
            font-size: 3.5em;
            width: 30%;
            margin-bottom: 2rem;
            line-height: 1;
        }
        p {
            width: 40%;
            margin-bottom: 2rem;
        }
        nav {
            margin-top: 2em;
            display: block;
        }
        .arrow {
            position: relative;
            padding: 10px 20px;
            &::before {
                content: "";
                z-index: 1;
                position: absolute;
                background-color: $color-font;
                top: 2px;
                left: 50%;
                width: 20px;
                height: 1px;
                transform-origin: 0 0;
                transform: rotateZ(60deg);
            }
            &::after {
                content: "";
                z-index: 1;
                position: absolute;
                bottom: 2px;
                left: 50%;
                background-color: $color-font;
                width: 20px;
                height: 1px;
                transform-origin: 0 100%;
                transform: rotateZ(-60deg);
            }
        }
        .line {
            position: relative;
            padding: 10px 120px;
            &::before {
                content: "";
                z-index: 1;
                position: absolute;
                left: 20px;
                top: 50%;
                background-color: $color-font;
                width: 200px;
                height: 1px;
            }
        }
        .pagination {
            position: relative;
            font-size: 1.2em;
        }
    }
}


/*-------------- Styling for Featured Items ------------*/

.featured {
    padding: 100px 0 50px;
    .featured-title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 2em;
        span {
            text-decoration: none;
            text-transform: uppercase;
            color: $color-secondary;
            font-weight: bold;
        }
    }
}


/*-------------- Styling for About Us ------------*/

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(500px auto);
    padding: 50px 0;
    h1 {
        font-size: 2.5em;
        margin-bottom: 2rem;
    }
    p {
        width: 90%;
        margin-bottom: 0.8em;
    }
    .image {
        height: 500px;
    }
    img {
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
}


/*-------------- Styling for Services ------------*/

.services {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    text-align: center;
    .logo {
        height: 100px;
        width: 100px;
        margin-bottom: 0.8em;
    }
    h1 {
        margin-bottom: 2rem;
    }
}


/*-------------- Styling for Blog ------------*/

.blog-section {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 100px;
    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    h1 {
        margin-bottom: 2rem;
        line-height: 1;
    }
    p {
        margin-bottom: 2rem;
    }
}


/*-------------- Styling for Contact Us ------------*/

.contact-us {
    padding: 50px 0;
    .contact-us-content {
        width: 50%;
        text-align: center;
        h1 {
            margin-bottom: 2rem;
        }
        p {
            margin-bottom: 1rem;
        }
        .contact-us-form,
        .input-group {
            display: block;
        }
        input,
        textarea {
            width: 100%;
            padding: 12px 20px 5px;
            margin: 8px 0;
            box-sizing: border-box;
            resize: none;
            border: none;
            border-bottom: solid 1px lighten($color-font, 70);
        }
        textarea {
            border: solid 1px lighten($color-font, 70);
            margin-top: 15px;
        }
        label {
            display: none;
        }
    }
}