// Body
$body-bg: #f8fafc;

// Typography
$primary-font: "Playfair Display", serif;
$secondary-font: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #8ac346;
$secondary-color: #425d00;
$font-color: #12171b;
