@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;

600&family=Playfair+Display:wght@700&display=swap);* {
  box-sizing: border-box;
}

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

/* base styles */

body {
  font-family: "Montserrat", sans-serif;
  color: #12171b;
  font-size: 14px;
}

/* fonts */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  line-height: 1.4em;
  margin: 0;
}

p,
a,
li {
  color: #12171b;
  line-height: 1.5em;
  font-size: 1em;
}

h1 {
  font-size: 5em;
  line-height: 1;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
}

.leading {
  font-size: 1.1em;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 75%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width: 540px) {
  .wrapper {
    width: 90%;
  }
}

.button {
  background-color: transparent;
  border: 2px solid #8ac346;
  border-radius: 20px;
  color: #8ac346;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 200px;
  padding: 15px 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  transition: all 500ms;
  align-items: center;
  text-align: center;
  text-justify: center;
}

.button:hover {
  background-color: #8ac346;
  color: #fff;
}

.button.secondary-button {
  background-color: transparent;
  padding: 10px 20px;
  width: auto;
  height: auto;
  color: #fff;
  border: 2px solid #fff;
}

.button.secondary-button:hover {
  background-color: #fff;
  color: #8ac346;
}

.button-link {
  color: #425d00;
  font-weight: bold;
}

.size-button-wrapper {
  display: inline-block;
}

.size-button {
  display: inline-block;
  background-color: transparent;
  text-transform: uppercase;
  color: #8198ab;
  padding: 5px;
  width: auto;
  height: auto;
  border: 1px solid #8198ab;
  margin: 1px 11px 1px 1px;
  cursor: pointer;
}

.size-button:last-child {
  margin-right: 0;
}

.size-button:hover {
  border: 1px solid #12171b;
  color: #12171b;
  padding: 6px;
  margin: 0 10px 0 0;
}

.size-button.selected {
  border: 1px solid #12171b;
  color: #12171b;
}

.size-button.disabled {
  border: none;
  color: #becad4;
  background-color: #dde3e8;
  cursor: not-allowed;
}

.size-button.disabled:hover {
  padding: 5px;
  margin: 1px 11px 1px 1px;
}

.small-button {
  background-size: cover;
  height: 18px;
  width: 18px;
  border: 1px solid #12171b;
  margin: 2px;
  display: inline-block;
  cursor: pointer;
  transition: height width margin border 200ms ease-in-out;
}

.small-button:hover {
  height: 20px;
  width: 20px;
  margin: 0px;
  border: 2px solid #8ac346;
}

.small-button:active {
  height: 18px;
  width: 18px;
  margin: 1px;
}

.small-button.plus {
  background-image: url(/logo/plus.png);
}

.small-button.minus {
  background-image: url(/logo/minus.png);
}

.card {
  display: block;
  padding-bottom: 1px;
  transition: 0.5s;
}

.card:hover {
  box-shadow: 0 0 10px 5px rgba(185, 185, 185, 0.5);
}

.card .image-container {
  margin-bottom: 0.8em;
  width: 100%;
  position: relative;
}

.card .image-container img {
  width: 100%;
  height: auto;
}

.card .image-container .view-details {
  position: absolute;
  display: flex;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.card .title,
.card .price {
  display: block;
  margin-bottom: 1em;
  text-align: center;
}

.card .price {
  font-weight: bold;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 50px;
}

@media screen and (max-width: 540px) {
  .card-list {
    grid-template-columns: 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
  }
}

.filter-group {
  padding: 0.8em 1em;
  border-top: 1px solid #8198ab;
  display: flex;
  flex-direction: column;
}

.filter-group .title {
  margin-bottom: 0.8em;
}

#pagination {
  display: block;
}

#pagination .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagination .page-item {
  border: 1px solid #12171b;
  margin: 10px 5px;
  text-align: center;
  height: 100%;
  transition: all 500ms;
}

#pagination .page-item:hover {
  background-color: #8ac346;
  border: 1px solid #8ac346;
}

#pagination .page-item:hover .page-link {
  color: #fff;
}

#pagination .page-nav {
  border: none;
  width: 3.7em;
  padding: 5px 0;
  margin: 10px 5px;
  text-align: center;
  transition: all 500ms;
}

#pagination .page-nav:hover {
  background-color: none;
  border: none;
}

#pagination .page-nav:hover .page-link {
  color: #8ac346;
  font-weight: bold;
}

#pagination .page-nav.disabled {
  display: none;
}

#pagination .page-link {
  display: inline-block;
  padding: 5px;
  min-width: 1.2em;
  transition: all 500ms;
}

#pagination .active {
  background-color: #8ac346;
  border: 1px solid #8ac346;
  color: #fff;
}

#pagination .separator {
  border: none;
  margin: 10px 0;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.form-group .form-label {
  position: absolute;
  color: #8ac346;
  font-weight: bold;
  font-size: 0.8em;
  background-color: #fff;
  padding: 0 5px;
  top: 1em;
  left: 1em;
  pointer-events: none;
  opacity: 0;
}

.form-group .form-input {
  width: 100%;
  padding: 10px 1em;
  margin: 1px 1px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: solid 1px #becad4;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1em;
  resize: none;
  font-family: "Montserrat", sans-serif;
}

.form-group .form-input.invalid,
.form-group .form-input:not(:placeholder-shown),
.form-group .form-input:focus {
  margin: 0;
  outline: none;
  border: solid 1px #8ac346;
  border-radius: 10px;
  transition: all 300ms;
}

.form-group .form-input.invalid + .form-label,
.form-group .form-input:not(:placeholder-shown) + .form-label,
.form-group .form-input:focus + .form-label {
  top: -0.8em;
  left: 0.8em;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.form-group .form-input.invalid {
  border: solid 1px red;
}

.form-group .form-input.invalid + .form-label {
  color: red;
}

.form-group .error-message {
  color: red;
  font-size: 0.7em;
  padding-left: 1.5em;
  margin-top: 5px;
  display: inline-block;
}

.checkbox {
  display: inline-block;
  padding-left: 25px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 1em;
  width: 1em;
}

.checkbox .check-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.8em;
  width: 0.8em;
  border: solid 2px #8ac346;
}

.checkbox .check-mark:after {
  content: "";
  position: absolute;
  display: none;
  left: 2px;
  top: -1px;
  width: 5px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox input:checked ~ .check-mark {
  background-color: #8ac346;
}

.checkbox input:checked ~ .check-mark:after {
  display: block;
}

.checkbox label {
  text-transform: capitalize;
}

#banner-nav {
  display: block;
  position: relative;
}

#banner-nav .arrow-right {
  position: relative;
  padding: 10px 10px;
  cursor: pointer;
}

#banner-nav .arrow-right::before {
  content: "";
  z-index: 1;
  position: absolute;
  background-color: #12171b;
  top: 2px;
  left: 50%;
  width: 20px;
  height: 1px;
  transform-origin: 0 0;
  transform: rotateZ(60deg);
}

#banner-nav .arrow-right::after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #12171b;
  width: 20px;
  height: 1px;
  transform-origin: 0 100%;
  transform: rotateZ(-60deg);
}

#banner-nav .arrow-right:hover {
  background-color: #8ac346;
}

#banner-nav .arrow-left {
  position: relative;
  padding: 10px 10px;
  cursor: pointer;
}

#banner-nav .arrow-left::before {
  content: "";
  z-index: 1;
  position: absolute;
  background-color: #12171b;
  top: 20px;
  right: 0;
  width: 20px;
  height: 1px;
  transform-origin: 0 0;
  transform: rotateZ(-60deg);
}

#banner-nav .arrow-left::after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 18px;
  right: 0;
  background-color: #12171b;
  width: 20px;
  height: 1px;
  transform-origin: 0 100%;
  transform: rotateZ(60deg);
}

#banner-nav .arrow-left:hover {
  background-color: #8ac346;
}

#banner-nav .line {
  position: relative;
  padding: 10px 120px;
}

#banner-nav .line::before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 20px;
  top: 50%;
  background-color: #12171b;
  width: 200px;
  height: 1px;
}

#banner-nav .pagination {
  position: relative;
  font-size: 1.2em;
}

#banner-nav .pagination .index {
  font-weight: bold;
}

#banner-nav .pagination .total {
  color: #8ac346;
}

.banner {
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1;
}

.banner .content-wrapper {
  margin: 0 auto 0 0;
  width: 45%;
  padding-top: 100px;
  z-index: -1;
}

.banner .content-wrapper h1,
.banner .content-wrapper p,
.banner .content-wrapper a {
  margin-bottom: 30px;
}

.banner .image {
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 100%;
     object-position: 100% 100%;
}

@media screen and (max-width: 1024px) {
  .banner {
    min-height: 600px;
  }

  .banner .image {
    height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    min-height: 550px;
  }

  .banner .content-wrapper {
    width: 70%;
  }

  .banner .image {
    height: 550px;
  }
}

@media screen and (max-width: 540px) {
  .banner {
    min-height: 450px;
  }

  .banner .content-wrapper {
    width: 100%;
    padding-top: 50px;
  }

  .banner .content-wrapper h1 {
    font-size: 3em;
  }

  .banner .image {
    height: 450px;
  }
}

#login {
  height: 100vh;
  padding: 100px;
  box-sizing: border-box;
}

#login .login-container {
  width: 30%;
  margin: auto;
  background-color: white;
  border: 1px solid #dde3e8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
}

#login h2 {
  margin-bottom: 20px;
  text-align: center;
}

#login .wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 30px;
}

#login button {
  display: block;
  margin: 0 auto 50px;
}

#login p {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  #login {
    padding: 100px 0;
  }

  #login .login-container {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  #login .login-container {
    width: 80%;
  }
}

@media screen and (max-width: 540px) {
  #login {
    padding: 100px 0;
  }

  #login .login-container {
    width: 90%;
  }
}

#register {
  height: 100vh;
  padding: 100px;
  box-sizing: border-box;
}

#register .register-container {
  width: 30%;
  margin: auto;
  background-color: white;
  border: 1px solid #dde3e8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
}

#register h2 {
  margin-bottom: 30px;
  text-align: center;
}

#register button {
  display: block;
  margin: 50px auto 10px;
}

@media screen and (max-width: 1024px) {
  #register {
    padding: 100px 0;
  }

  #register .register-container {
    width: 80%;
  }
}

@media screen and (max-width: 540px) {
  #register {
    padding: 100px 0;
  }

  #register .register-container {
    width: 90%;
  }
}

/*-------------- Styling for Hero ------------*/

#hero {
  overflow: hidden;
  margin: 0 auto;
  height: 100vh;
}

#hero .banner-wrapper {
  display: flex;
  width: 100%;
}

@-webkit-keyframes slidy {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  33% {
    left: -100%;
  }

  55% {
    left: -100%;
  }

  68% {
    left: -200%;
  }

  88% {
    left: -200%;
  }

  100% {
    left: 0;
  }
}

@keyframes slidy {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  33% {
    left: -100%;
  }

  55% {
    left: -100%;
  }

  68% {
    left: -200%;
  }

  88% {
    left: -200%;
  }

  100% {
    left: 0;
  }
}

@media screen and (max-width: 1024px) {
  #hero {
    height: 600px;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    height: 550px;
  }
}

@media screen and (max-width: 540px) {
  #hero {
    height: 450px;
  }
}

/*-------------- Styling for Each Sections ------------*/

section {
  padding: 50px;
}

@media screen and (max-width: 768px) {
  section {
    padding: 5px;
  }
}

@media screen and (max-width: 540px) {
  section {
    padding: 5px;
  }
}

/*-------------- Styling for Featured Items ------------*/

#featured {
  padding-top: 100px;
}

#featured .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

#featured .header h3 {
  display: inline-block;
}

#featured .header .button-link {
  text-transform: uppercase;
}

@media screen and (max-width: 540px) {
  #featured {
    padding-top: 50px;
  }
}

/*-------------- Styling for About Us ------------*/

#about-us {
  display: grid;
  grid-template-areas: "desc img";
  grid-auto-rows: minmax(500px auto);
  padding: 50px 0;
}

#about-us .desc {
  grid-area: desc;
}

#about-us .desc h2 {
  margin-bottom: 1em;
}

#about-us .desc p {
  width: 90%;
  margin-bottom: 0.8em;
}

#about-us img {
  grid-area: img;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

@media screen and (max-width: 768px) {
  #about-us {
    grid-template-areas: "img" "desc";
  }

  #about-us .desc {
    grid-area: desc;
    justify-self: center;
  }

  #about-us .desc h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.6em;
  }

  #about-us .desc p {
    text-align: center;
    width: 100%;
  }

  #about-us img {
    justify-self: center;
    width: 50%;
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  #about-us .desc {
    justify-self: center;
  }

  #about-us img {
    width: 80%;
  }
}

/*-------------- Styling for Services ------------*/

#point-of-sale {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  text-align: center;
}

#point-of-sale li {
  margin-bottom: 1em;
}

#point-of-sale .logo {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 540px) {
  #point-of-sale {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

/*-------------- Styling for Article ------------*/

#article {
  display: grid;
  grid-template-columns: 2fr 3fr;
  -moz-column-gap: 100px;
       column-gap: 100px;
}

#article img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#article li {
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  #article {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}

@media screen and (max-width: 540px) {
  #article {
    padding-top: 30px;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

/*-------------- Styling for Contact Us ------------*/

#contact-us {
  background-image: url(/img/contact.jpg);
  background-position: 100% 50%;
  background-size: cover;
}

#contact-us .contact-us-content {
  width: 40%;
  text-align: center;
}

#contact-us .contact-us-content h2,
#contact-us .contact-us-content p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 540px) {
  #contact-us {
    width: 100vw;
    background-position: 50% 50%;
  }

  #contact-us .contact-us-content {
    width: 90%;
    padding-bottom: 20px;
  }
}

.shop-page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 100px 0;
}

.shop-page .filter-btn {
  display: none;
}

.shop-page .filter-option-btn {
  display: none;
}

.shop-page h4 {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  padding-left: 0.8em;
}

.shop-wrapper .shop-title {
  margin-bottom: 1rem;
}

.shop-wrapper .shortby {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

@media screen and (max-width: 540px) {
  .shop-page {
    padding: 80px 0;
    grid-template-columns: 1fr;
    position: relative;
  }

  .shop-page .filter-btn {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    visibility: visible;
    position: fixed;
    display: flex;
    bottom: 0;
    background-color: #fff;
    width: 100vw;
    height: 50px;
    left: 0;
    font-size: 1.3em;
    font-weight: 700;
    z-index: 3;
  }

  .shop-page .filter-btn.open {
    display: hidden;
  }

  .shop-page .filter {
    display: none;
  }

  .shop-page .filter.open {
    padding: 50px 30px 0;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    z-index: 3;
    display: block;
    overflow: scroll;
  }

  .shop-page .filter.open .filter-option-btn {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
  }

  .shop-page .filter.open .filter-option-btn .button {
    min-width: 100px;
  }
}

/*-------------- Styling for Product Preview Page------------*/

.product-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 100px;
}

.product-preview .images {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}

.product-preview .images .image-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

@media screen and (max-width: 768px) {
  .product-preview .images .image-index {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
}

.product-preview .preview-content {
  display: flex;
  flex-direction: column;
}

.product-preview .preview-content hr {
  border: solid 0.5px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.product-preview .preview-content .price {
  font-size: 1.1rem;
}

.product-preview .preview-content .subtitle {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}

.product-preview .preview-content .qty-wrapper {
  display: flex;
  align-items: center;
}

.product-preview .preview-content .qty-wrapper span {
  margin-right: 20px;
  font-weight: bold;
}

.product-preview .preview-content .qty-wrapper span:nth-child(3) {
  margin-right: 50px;
}

.product-preview .preview-content .description-wrapper {
  margin-top: 1rem;
}

.product-preview .preview-content .description-wrapper .option-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-right: 20px;
  border-bottom: solid 1.5px #dde3e8;
}

.product-preview .preview-content .description-wrapper .option-wrapper .option {
  text-transform: uppercase;
  font-weight: bold;
  color: #dde3e8;
  justify-self: flex-end;
  padding: 5px 0;
  cursor: pointer;
}

.product-preview .preview-content .description-wrapper .option-wrapper .option:hover {
  border-bottom: solid 1.5px #8ac346;
  color: #12171b;
}

.product-preview .preview-content .description-wrapper .option-wrapper .selected {
  border-bottom: solid 1.5px #8ac346;
  color: #12171b;
}

.featured {
  margin: 30px auto;
}

.featured .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.featured .header h3 {
  display: inline-block;
}

.featured .header .button-link {
  text-transform: uppercase;
}

@media screen and (max-width: 540px) {
  .product-preview {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .product-preview .images .image-index {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*-------------- Styling for Blog Page------------*/

.blog {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/blog1.jpg");
  background-size: 100vw;
  background-position: 25% 55%;
}

.blog h1 {
  padding: 0 0 60px;
  margin: 0;
}

.blog-article-index {
  padding: 100px 0 50px;
}

.blog-article-index .article-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 50px;
}

@media screen and (max-width: 768px) {
  .blog-article-index .article-card-list {
    grid-template-columns: 1fr 1fr;
  }
}

.blog-article-index .article-card-list .image,
.blog-article-index .article-card-list h4,
.blog-article-index .article-card-list p {
  margin-bottom: 1em;
  height: 1;
}

.blog-article-index .article-card-list img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .blog {
    height: 600px;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .blog {
    height: 400px;
    background-size: cover;
  }
}

@media screen and (max-width: 540px) {
  .blog {
    height: 300px;
    background-size: cover;
    background-position: center;
  }

  .blog-article-index .article-card-list {
    grid-template-columns: 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 50px;
  }
}

.contact-us-page {
  height: 100vh;
  background-image: url("/img/contact-page.jpg");
  background-size: 130vw;
  background-position: 0 50%;
}

.contact-us-page .contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 0;
}

.contact-us-page .contact-us .contact-us-content {
  padding-right: 30px;
  border-right: solid 1px rgba(0, 0, 0, 0.3);
}

.contact-us-page .contact-us .contact-us-content h2 {
  margin-bottom: 0.5em;
}

.contact-us-page .contact-us .contact-us-content p {
  margin-bottom: 1.5em;
}

.contact-us-page .contact-us .contact-us-content p:last-child {
  font-weight: bold;
}

.contact-us-page .contact-us .contact-us-form {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .contact-us-page {
    background-size: 100vw;
    background-position: 0 50%;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .contact-us-page .contact-us {
    grid-template-columns: 1fr;
    padding: 100px 0;
    justify-content: center;
  }

  .contact-us-page .contact-us .contact-us-content {
    padding-left: 30px;
    border-right: none;
  }

  .contact-us-page .contact-us-form {
    padding-right: 30px;
  }
}

/*-------------- Styling for Header------------*/

#site-header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2;
  transition: background-color 0.5s;
}

#site-header img {
  width: auto;
}

#site-header .wrapper {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px 0 5px;
}

#site-header .logo-icon {
  font-family: "Montserrat", sans-serif;
  color: #425d00;
  font-size: 1.5em;
}

#site-header nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

#site-header nav ul {
  display: flex;
}

#site-header nav .nav-item {
  padding: 10px;
}

#site-header nav .nav-item:nth-child(1) {
  padding-left: 20px;
}

#site-header nav .nav-item:last-child {
  padding-right: 0;
}

#site-header nav .nav-link {
  font-size: 1.1em;
}

#site-header nav .nav-link.register {
  background-color: #8ac346;
  border: 2px solid #8ac346;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  font-weight: bold;
}

#site-header nav .nav-link.register:hover {
  color: #8ac346;
  border: 2px solid #8ac346;
  background-color: transparent;
}

#site-header nav .nav-link:hover {
  color: #8ac346;
}

#site-header .header-right-area {
  display: flex;
  justify-content: flex-end;
}

#site-header .header-right-area img {
  height: 1em;
}

.scroll-header {
  background-color: white;
  box-shadow: 0 1px 10px 1px #dde3e8;
  transition: background-color 0.5s;
}

.scroll-header .wrapper {
  padding: 15px 0 5px;
}

@media screen and (max-width: 1024px) {
  #site-header .wrapper {
    max-width: 76%;
  }
}

@media screen and (max-width: 768px) {
  #site-header .wrapper {
    max-width: 91%;
  }
}

@media screen and (max-width: 540px) {
  #site-header {
    display: flex;
    height: 50px;
  }

  #site-header .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #site-header .wrapper .brand {
    margin-left: 20px;
  }

  #site-header .wrapper #burger-menu {
    margin-right: 20px;
    width: 15px;
    height: 3px;
    background-color: #425d00;
    position: relative;
    z-index: 1;
    right: 0;
  }

  #site-header .wrapper #burger-menu.open {
    position: fixed;
  }

  #site-header .wrapper #burger-menu::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    top: 6px;
    background-color: #425d00;
  }

  #site-header .wrapper #burger-menu::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    top: -6px;
    background-color: #425d00;
  }

  #site-header .wrapper .menu {
    padding-top: 50px;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    top: 0;
    left: 0;
    visibility: hidden;
  }

  #site-header .wrapper .menu.open {
    visibility: visible;
  }

  #site-header .wrapper .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #site-header .wrapper .menu ul .nav-item {
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }

  #site-header .wrapper .menu ul .nav-item .nav-link {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    text-align: center;
  }

  #site-header .wrapper .menu ul .nav-item:hover {
    background-color: #8ac346;
  }

  #site-header .wrapper .menu .nav-link.register {
    background-color: transparent;
    border: none;
    color: #425d00;
    font-weight: bold;
  }

  #site-header .wrapper .menu .nav-link.register:hover {
    border: none;
  }

  #site-header .wrapper .menu .nav-link:hover {
    color: #425d00;
  }
}

/*-------------- Styling for Footer------------*/

#footer {
  display: block;
  background: linear-gradient(rgba(18, 23, 27, 0.8), rgba(18, 23, 27, 0.8)), url(/img/footer.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 200px;
  padding-top: 50px;
}

#footer .logo-icon {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 2em;
}

.main-nav-footer {
  display: block;
  margin: 0;
}

.main-nav-footer li {
  display: inline-block;
  padding: 20px 10px;
}

.main-nav-footer li .nav-link {
  color: #fff;
}

.socials {
  display: inline-block;
}

.socials img {
  padding: 20px 10px;
  height: 2em;
  width: auto;
}

