@import url(https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@700&display=swap);/* Box sizing rules */

html {
  scroll-behavior: smooth;
}

/* Remove default padding */

ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

/* Font H1*/

h1 {
  font-family: "Playfair Display", serif;
}

a {
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: #12171b;
}

/* Make images easier to work with */

img {
  max-width: 100%;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 50px;
  text-align: center;
}

.card-list .card {
  display: block;
  transition: 0.5s;
}

.card-list .card:hover {
  box-shadow: 0 0 10px 5px rgba(185, 185, 185, 0.5);
}

.card-list .image {
  margin-bottom: 0.8em;
  width: 100%;
  position: relative;
}

.card-list .image img {
  width: 100%;
  height: auto;
}

.card-list .image .view-details {
  position: absolute;
  display: flex;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.card-list .image .btn-view-details {
  width: 150px;
  height: auto;
  margin: auto;
  padding: 10px;
  border: solid 2px #fff;
  background-color: transparent;
}

.card-list .title,
.card-list .price {
  display: block;
  margin-bottom: 0.8em;
}

.card-list .price {
  font-weight: bold;
}

.contact-us-form {
  display: block;
}

.contact-us-form .input-group input,
.contact-us-form .input-group textarea {
  width: 100%;
  padding: 12px 20px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  resize: none;
  border: none;
  border-bottom: solid 1px #becad4;
  background-color: transparent;
}

.contact-us-form .input-group textarea {
  border: solid 1px #becad4;
  margin-top: 15px;
  margin-bottom: 2rem;
  background-color: transparent;
}

.contact-us-form .input-group label {
  display: none;
}

/*-------------- Styling for wrapper------------*/

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  background-color: #8ac346;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  height: 50px;
  width: 200px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

/*-------------- Styling for banner------------*/

/*-------------- Styling for Featured Items ------------*/

.featured {
  padding: 100px 0 50px;
}

.featured .featured-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2em;
}

.featured .featured-title h1 {
  font-size: 2rem;
}

.featured .featured-title span {
  text-decoration: none;
  text-transform: uppercase;
  color: #425d00;
  font-weight: bold;
}

/*-------------- Styling for About Us ------------*/

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(500px auto);
  padding: 50px 0;
}

.about h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about p {
  width: 90%;
  margin-bottom: 0.8em;
}

.about .image {
  height: 500px;
}

.about img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

/*-------------- Styling for Services ------------*/

.services {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  text-align: center;
}

.services .logo {
  height: 100px;
  width: 100px;
  margin-bottom: 0.8em;
}

.services h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/*-------------- Styling for Blog ------------*/

.blog-section {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 2fr 3fr;
  -moz-column-gap: 100px;
       column-gap: 100px;
}

.blog-section img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-section h1 {
  margin-bottom: 2rem;
  line-height: 1;
  font-size: 2rem;
}

.blog-section p {
  margin-bottom: 2rem;
}

/*-------------- Styling for Contact Us ------------*/

.contact-us {
  padding: 50px 0;
  background-image: url(/img/contact.jpg);
  background-position: 100% 50%;
  background-size: cover;
}

.contact-us .contact-us-content {
  width: 50%;
  text-align: center;
}

.contact-us .contact-us-content h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.contact-us .contact-us-content p {
  margin-bottom: 1rem;
}

.hero-wrapper {
  overflow: hidden;
}

.hero-wrapper .banner-wrapper {
  position: relative;
  width: 300%;
  margin: 0;
  left: -200;
  text-align: left;
  -webkit-animation: 15s slidy infinite;
          animation: 15s slidy infinite;
}

.hero-wrapper .banner {
  width: 33.3%;
  float: left;
  height: 100vh;
}

.banner1 {
  background-image: url("/img/banner1.jpg");
  background-size: 150vw;
  background-position: 80% 60%;
}

.banner1 .content-wrapper {
  margin: 0 auto 0 0;
  width: 40%;
}

.banner2 {
  display: flex;
  justify-content: flex-end;
  background-image: url("/img/banner2.jpg");
  background-size: 150vw;
  background-position: 85% 50%;
}

.banner2 .content-wrapper {
  margin: 0 0 0 auto;
  width: 40%;
}

.banner3 {
  background-image: url("/img/banner3.jpg");
  background-size: 150vw;
  background-position: 10% 50%;
}

.banner3 .content-wrapper {
  margin: 0 auto 0 0;
  width: 40%;
}

.hero-content {
  padding-top: 20vh;
}

.hero-content .hero-title {
  font-size: 5em;
  margin-bottom: 2rem;
  line-height: 1;
}

.hero-content p {
  margin-bottom: 2rem;
}

.hero-content nav {
  margin-top: 2rem;
  display: block;
}

.hero-content .arrow-right {
  position: relative;
  padding: 10px 10px;
  cursor: pointer;
}

.hero-content .arrow-right::before {
  content: "";
  z-index: 1;
  position: absolute;
  background-color: #12171b;
  top: 2px;
  left: 50%;
  width: 20px;
  height: 1px;
  transform-origin: 0 0;
  transform: rotateZ(60deg);
}

.hero-content .arrow-right::after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #12171b;
  width: 20px;
  height: 1px;
  transform-origin: 0 100%;
  transform: rotateZ(-60deg);
}

.hero-content .arrow-right:hover {
  background-color: #8ac346;
}

.hero-content .arrow-left {
  position: relative;
  padding: 10px 10px;
  cursor: pointer;
}

.hero-content .arrow-left::before {
  content: "";
  z-index: 1;
  position: absolute;
  background-color: #12171b;
  top: 20px;
  right: 0;
  width: 20px;
  height: 1px;
  transform-origin: 0 0;
  transform: rotateZ(-60deg);
}

.hero-content .arrow-left::after {
  content: "";
  z-index: 1;
  position: absolute;
  bottom: 18px;
  right: 0;
  background-color: #12171b;
  width: 20px;
  height: 1px;
  transform-origin: 0 100%;
  transform: rotateZ(60deg);
}

.hero-content .arrow-left:hover {
  background-color: #8ac346;
}

.hero-content .line {
  position: relative;
  padding: 10px 120px;
}

.hero-content .line::before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 20px;
  top: 50%;
  background-color: #12171b;
  width: 200px;
  height: 1px;
}

.hero-content .pagination {
  position: relative;
  font-size: 1.2em;
}

@-webkit-keyframes slidy {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  33% {
    left: -100%;
  }

  55% {
    left: -100%;
  }

  68% {
    left: -200%;
  }

  88% {
    left: -200%;
  }

  100% {
    left: 0;
  }
}

@keyframes slidy {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  33% {
    left: -100%;
  }

  55% {
    left: -100%;
  }

  68% {
    left: -200%;
  }

  88% {
    left: -200%;
  }

  100% {
    left: 0;
  }
}

.check-mark:after {
  content: "";
  position: absolute;
  display: none;
}

._shop {
  display: grid;
  grid-template-columns: 1fr 4fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 100px 0;
}

._shop hr {
  border: solid 0.5px #becad4;
  margin: 10px 0;
  box-shadow: nonere;
}

._shop h1 {
  font-size: 2rem;
}

._shop h2,
._shop h3 {
  margin-bottom: 10px;
}

._shop .fillter-input {
  padding-left: 35px;
  margin-bottom: 12px;
  display: block;
  margin-bottom: 12px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

._shop .fillter-input input {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 18px;
  width: 18px;
}

._shop .fillter-input .check-mark {
  position: absolute;
  top: 1px;
  left: 2px;
  height: 16px;
  width: 16px;
  border: solid 2px #8ac346;
}

._shop .fillter-input .check-mark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

._shop .fillter-input input:checked ~ .check-mark {
  background-color: #8ac346;
}

._shop .fillter-input input:checked ~ .check-mark:after {
  display: block;
}

.shop-wrapper .shop-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.shop-wrapper .shortby {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.product-preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 100px;
}

.product-preview .images {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}

.product-preview .images .image-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.product-preview .preview-content {
  display: flex;
  flex-direction: column;
}

.product-preview .preview-content .title {
  font-size: 2rem;
}

.product-preview .preview-content hr {
  border: solid 0.5px #8198ab;
  width: 100%;
}

.product-preview .preview-content .price {
  font-size: 1.1rem;
}

.product-preview .preview-content .subtitle {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
}

.product-preview .preview-content .qty-wrapper {
  display: flex;
  align-items: center;
}

.product-preview .preview-content .qty-wrapper .qty {
  font-size: 1.5rem;
  margin-right: 20px;
}

.product-preview .preview-content .qty-wrapper .btn-secondary {
  text-transform: uppercase;
  height: 30px;
  width: 30px;
  font-size: 1.5rem;
  border: solid 1px #12171b;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
}

.product-preview .preview-content .qty-wrapper .btn {
  display: inline;
}

.product-preview .preview-content .description-wrapper {
  margin-top: 1rem;
}

.product-preview .preview-content .description-wrapper .option-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-right: 20px;
  border-bottom: solid 1.5px #dde3e8;
}

.product-preview .preview-content .description-wrapper .option-wrapper .option {
  text-transform: uppercase;
  font-weight: bold;
  color: #dde3e8;
  justify-self: flex-end;
  padding: 5px 0;
  cursor: pointer;
}

.product-preview .preview-content .description-wrapper .option-wrapper .option:hover {
  border-bottom: solid 1.5px #8ac346;
  color: #12171b;
}

.product-preview .preview-content .description-wrapper .option-wrapper .selected {
  border-bottom: solid 1.5px #8ac346;
  color: #12171b;
}

._blog {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/blog1.jpg");
  background-size: 100vw;
  background-position: 25% 55%;
}

._blog h1 {
  font-size: 5em;
  padding: 0 0 60px;
  margin: 0;
}

.blog-article-index {
  padding: 100px 0 50px;
}

.blog-article-index .article-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 50px;
}

.blog-article-index .article-card-list .image,
.blog-article-index .article-card-list h1,
.blog-article-index .article-card-list p {
  margin-bottom: 1rem;
}

.blog-article-index .article-card-list h1 {
  font-size: 1.5rem;
  height: 1;
}

.contact-us-page {
  height: 100vh;
  background-image: url(/img/contact-page.jpg);
  background-size: 130vw;
  background-position: 0 50%;
}

.contact-us-page ._contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 0;
}

.contact-us-page ._contact-us .contact-us-content {
  padding-right: 30px;
  border-right: solid 1px #333;
}

.contact-us-page ._contact-us .contact-us-content h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact-us-page ._contact-us .contact-us-content p {
  margin-bottom: 2rem;
}

.contact-us-page ._contact-us .contact-us-content p:last-child {
  font-weight: bold;
}

.contact-us-page ._contact-us .contact-us-form {
  padding-left: 30px;
}

.site-header {
  position: fixed;
  background-color: transparent;
  width: 100vw;
  top: 0;
  z-index: 2;
  transition: background-color 0.5s;
}

.site-header .wrapper {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
}

.site-header .logo {
  flex: auto auto auto;
}

.site-header .logo a {
  text-align: none;
  display: inline-block;
}

.site-header .header-middle-area {
  flex: 2;
}

.site-header .header-right-area {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.site-header .header-right-area img {
  height: 1em;
}

.site-header nav {
  height: 100%;
}

.site-header ul li {
  display: inline;
}

.site-header a {
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px 15px;
}

.site-header a:hover {
  color: #8ac346;
}

.scroll-header {
  background-color: white;
  box-shadow: 0 1px 10px 1px #dde3e8;
  transition: background-color 0.5s;
}

.scroll-header a {
  padding: 20px 20px 20px;
}

.footer-wrapper {
  display: block;
  background: linear-gradient(rgba(18, 23, 27, 0.8), rgba(18, 23, 27, 0.8)), url(/img/footer.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  height: 30vh;
}

.footer-wrapper .logo {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
  padding: 20px;
}

.main-nav-footer {
  display: block;
  margin: 0;
}

.main-nav-footer li {
  display: inline-block;
}

.main-nav-footer li a {
  color: #fff;
  padding: 20px 20px;
}

.socials {
  display: inline-block;
}

.socials img {
  padding: 20px 10px;
  height: 2em;
  width: auto;
}

.not-found-page {
  background-image: url("/img/4041.jpg");
  background-size: 100vw;
  background-position: 20%;
  height: 100vh;
  color: #cccccc;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  box-sizing: border-box;
}

.not-found-page .oh-no {
  font-weight: bold;
  font-size: 2rem;
}

.not-found-page .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
}

.not-found-page .bottom p {
  font-family: "Montserrat", sans-serif;
}

.not-found-page .bottom hr {
  width: 400px;
  border: solid 0.5px;
  margin: 15px 0 20px;
}

.not-found-page .bottom .btn-404 {
  background-color: transparent;
  border: solid 1px;
}

