.banner {
   min-height: 100vh;
   min-width: 100vw;
   z-index: 1;

   .content-wrapper {
      margin: 0 auto 0 0;
      width: 45%;
      padding-top: 100px;
      z-index: -1;
      h1,
      p,
      a {
         margin-bottom: 30px;
      }
   }
   .image {
      position: absolute;
      z-index: -2;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      object-position: 100% 100%;
   }
}

@media screen and (max-width: 1024px) {
   .banner {
      min-height: 600px;

      .image {
         height: 600px;
      }
   }
}

@media screen and (max-width: 540px) {
   .banner {
      min-height: 450px;
      .content-wrapper {
         width: 100%;
         padding-top: 50px;

         h1 {
            font-size: 3em;
         }
      }
      .image {
         height: 450px;
      }
   }
}
